header{
    background-color: brown;
}

@media screen and (max-width:1024px ) { header {
    background-color: green;
}
    
}

@media screen and (max-width:768px) { header {
    background-color: beige;
}
}

@media screen and (max-width:480px) { header {
    background-color: bisque;
}
    
}